<!DOCTYPE html>
<html>
<head>
    <title>Preview Crop</title>
</head>
<body>
    <h2>Preview Cropped Image</h2>
    <img src="/cropped/{{ filename }}?v={{ range(1000000)|random }}" style="max-width:400px; max-height:400px;"><br><br>
    <form method="GET" action="/manual_crop">
        <input type="hidden" name="filename" value="{{ orig_filename }}">
        <button type="submit">Crop Again</button>
    </form>
    <form method="POST" action="/ask_dimensions">
        <input type="hidden" name="filename" value="{{ filename }}">
        <button type="submit">Save</button>
    </form>
</body>
</html>
